#Chef-3 {
  position: absolute;
  left: 450px;
  width: 100px;
  height: 100px;
  bottom: 500px;
}

.background-img-3 {
  position: relative; 
  width: 100%;
  height: 1000px; 
  background-image: url( https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-goumbik-616401.jpg&fm=jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  border: 2px solid #ccc; 
  border-radius: 5px; 
}

.text-box-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.822);
  padding: 20px;
  border-radius: 10px;
  text-align: center; 
  font-weight: bold; 
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-box-3 input {
  padding: 10px;
  margin: 8px 0;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.text-box-3 button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-box-3 button:hover {
  background-color: #45a049;
}